header {
  position:relative;
  display:flex;
  justify-content:center;
  width: 1300px;
  height: 500px;
  background: no-repeat center/100% url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
}

.header1 {
  font-family: 'Abril Fatface', cursive;
  color:#222;
  font-size:35px;
  position: absolute;
  bottom:150px;
  width:65%;
}

.header2 {
  font-family: 'Abril Fatface', cursive;
  color:#222;
  font-size:75px;
  position: absolute;
  bottom:50px;
  width:65%;
}

main {
  width:800px;
  margin-left: 230px;
  margin-right: 230px;
  line-height:1.5;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  color:white;
  background:#383838;
  font-size:48px;
  margin:60px 0;
  padding:50px;
  position:relative;
}

blockquote::before {
  content: open-quote;
  position:absolute;
  top:-40px;
  left:2px;
  font-size:120px;
  margin:0;
  padding:0;
}
blockquote::after {
  content: no-close-quote;
  position:absolute;
  top:-27px;
  left:2px;
  font-size:120px;
  margin:0;
  padding:0;
}

p, ul, h1, h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
  margin-left:50px;
  list-style-type:square;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size:15px;
  margin-left:50px;
  margin-top:0px;
  font-style:italic;
}

.p1, .ul1 {
  font-size:19px;
}

strong {
  font-weight:bold;
}
h1 {
  margin-bottom:50px;
  font-weight:bold;
  font-size:24px;
  text-transform:uppercase;
}
h2 {
  font-weight:bold;
  font-size:24px;
  margin-bottom:0px;
}

p, ul {
  margin-top:25px;
  margin-bottom:40px;
}
section {
  width:800px;
  height:4px;
  background:#383838;
  margin:50px 30px;
}